<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708372571106-7m7flj3vlo3ikb0j4qga93ebdvo4t1df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708372571106-7m7flj3vlo3ikb0j4qga93ebdvo4t1df</string>
	<key>API_KEY</key>
	<string>AIzaSyB_zco0egNSg86-t154L7gEeVkRvdy197s</string>
	<key>GCM_SENDER_ID</key>
	<string>708372571106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Itworxedu.Instgram-StudyProject</string>
	<key>PROJECT_ID</key>
	<string>instagram-96461</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-96461.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708372571106:ios:298d2d431e844638be0fbb</string>
</dict>
</plist>